@{
    ViewData["Title"] = "Home";
}

<div class="container w-75 p-3 text-center">
    <h1 class="h1 m-2 shadow bg-transparent rounded" style="font-family: 'Merriweather', serif; color: cadetblue; padding: 10px">
    Guess Game</h1>
</div>